/* SEARCH PAGE START */

body {
  background-color:rgb(0, 153, 204);
}

img.bg {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 150px;
  left: 2px;
}

ul,ol {
  padding: 0;
  margin: 0;
}

.arrow-container{
  position:relative;
}

.outer-container{
  overflow:auto; 
  height:22rem; 
  width:47rem; 
  border-Style: solid;
  border-Color:cyan;
  border-Radius: 25px;
}

.fa-angle-left{
  cursor: pointer;
  font-Size: 6em; 
  float:left; 
  position:absolute; 
  top:50%;
  transform:translateY(-50%);
}

.fa-angle-right{
  cursor: pointer;
  font-Size: 6em; 
  float:right; 
  position:absolute; 
  top:50%;
  transform:translateY(-50%);
  right: 0;
}

.fa-plus{
  cursor: pointer;
  font-Size: 6em; 
  float:right; 
  position:absolute; 
  top:50%;
  transform:translateY(-50%);
  right: 0;
}


.active-cyan input[type=text] {
  border: 0;
  border-bottom: 2px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
  position: relative;
}
.active-cyan .fa {
  color: #4dd0e1;
}

/* SEARCH PAGE END */

/* gifersation font */
.navbar-brand{
  font-family: 'Bangers', cursive;
}

/* CONVO PAGE START*/
.fa-comment-alt{
  cursor: pointer;
  font-Size: 3em; 
  float:right; 
  position:absolute; 
  top:50%;
  transform:translateY(-50%);
  right: 0;
}

.convo-section{
  position:relative;
}

.outer-convo-container{
  overflow:auto; 
  height:22rem; 
  width:47rem; 
  border-Style: solid;
  border-Color:cyan;
  border-Radius: 25px;
}

/* gifs are displayed either on left ot right */
.convo-thread div:nth-child(even) {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.searchContainer{
  margin-bottom: 5rem;
}
/* CONVO PAGE END */

/* navbar */
.nav-link{
  font-weight: 600;
}

.btn-color{
  background-color:#fd7e14;
  font-weight: 600;
}

#logo {
  height: 42px;
  width: 15%;
  /* position: fixed; */
  margin-left: 30%;
  /* margin-left: 340px; */
}

.dropdown-item:hover{
  background-color:rgb(214, 212, 212);
}

.btn-group{
  margin-right: 25px;
}

.navbar-collapse{
  display: flex;
  justify-content: space-between;
}

.jumbotron{
  font-family: 'Bangers', cursive;
}




/* taking out the logo and footer gifs when screen size is reduced  */
@media only screen and (max-width: 993px) {
  /* For mobile phones: */
  [id*="logo"] {
      display: none;
  }
  [class*="view overlay"] {
      display: none;
  }
}


