.container-main{
  font-family: Arial, Helvetica, sans-serif;
}

.footer-copyright {
  background:#343a40;
  color: white;
}

.row {
  width: 80%;
  text-align: center;
  margin-right: 10px;
  margin-left: 120px;
  
  
}
.view {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}


/**
 * Footer Styles
 */

.page-footer {
  position: absolute;
  width: 100%;
  padding: 1px;
  text-align: center;
}