.container{
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.footer-copyright {
  background: gray;
  color: white;
}

.row {
  width: 100%
}


/**
 * Footer Styles
 */

.page-footer {
  position: absolute;
  width: 100%;
  padding: 1px;
  text-align: center;
}